$color-primary: #c0392b;
$color-secondary: #ffc500;

$color-logo-primary: #75C7FB;
$color-logo-secondary: #ff1616;
$color-logo-shadow: #eda8a3;

$grey-dark-1: #333;
$grey-dark-2: #777;
$grey-dark-3: #999;

$grey-light-1: #faf9f9;
$grey-light-2: #f4f2f2;
$grey-light-3: #f0eeee;
$grey-light-4: #ccc;

$gradient-1: #fe8c00;
$gradient-2: #f83600;