$font-primary: 'Nunito', sans-serif;
$font-logo: 'Barlow Condensed', sans-serif;

.bg-mt { margin-top: 5rem; }
.tx-md { font-size: 3.4rem !important; }

$bp-largest: 77.5em; //1340px//
$bp-medium: 62.5em; //1000px//
$bp-small: 53.125em; //850px//
$bp-smallest: 43.875em; //700px//
$bp-last: 32.5em; //520px//